samples/weather-service/weather.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions targetNamespace="http://www.fgeorges.org/ws/test/weather"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://www.fgeorges.org/ws/test/weather">

   <wsdl:types>
      <xs:schema elementFormDefault="qualified"
                 targetNamespace="http://www.fgeorges.org/ws/test/weather">

         <xs:element name="weather-by-city-request">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="city"    type="xs:string"/>
                  <xs:element name="country" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      
         <xs:element name="weather-by-city-response">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="place"  type="xs:string"/>
                  <xs:element name="detail" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="day"      type="xs:date"/>
                           <xs:element name="min-temp" type="xs:integer"/>
                           <xs:element name="max-temp" type="xs:integer"/>
                           <xs:element name="desc"     type="xs:string"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>

      </xs:schema>
   </wsdl:types>

   <wsdl:message name="weather-by-city-request">
      <wsdl:part name="request" element="tns:weather-by-city-request"/>
   </wsdl:message>

   <wsdl:message name="weather-by-city-response">
      <wsdl:part name="response" element="tns:weather-by-city-response"/>
   </wsdl:message>

   <wsdl:portType name="weather-iface">
      <wsdl:operation name="weather-by-city">
         <wsdl:input  message="tns:weather-by-city-request"/>
         <wsdl:output message="tns:weather-by-city-response"/>
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="weather-soap" type="tns:weather-iface">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="weather-by-city">
         <soap:operation soapAction="http://www.fgeorges.org/ws/test/weather/weather-by-city"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="weather-service">
      <wsdl:port name="weather-soap" binding="tns:weather-soap">
         <soap:address location="http://ws.fgeorges.org/test/weather"/>
      </wsdl:port>
   </wsdl:service>

</wsdl:definitions>
